*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
*{
    margin: 0;
}
body{
    background-image: url(img/blob-scene-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0f172a;
    font-family: 'Merriweather Sans', sans-serif;
}
.notification{
    font-size: 0.9rem;
    background-color: rgb(240, 38, 38);
    border-radius: 0.5rem;
    position: fixed;
    top: 10%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #ffffff;
    flex-direction: column;
    word-break: break-all;
    word-wrap: break-word;
    padding: 1rem;
    gap: 0.5rem;
    display: none;
}
.show{
    display: inline-flex;
}
.showgreen{
    display: inline-flex;
    background-color: greenyellow;
    color: #0f172a;
}
.noti{
    text-decoration: underline;
}
#main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cbd5e1;
    background-image: url(img/undraw_add_friends_re_3xte.svg);
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: left bottom;
}
#title{
    margin-bottom: 2rem;
}
.label{
    color: black;
}
#login-container{
    width: 90%;
    min-height: 30%;
    max-height: 50%;
    border-radius: 0.4rem;
    color: #cbd5e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #cbd5e1;
    opacity: 0.88;
}
.icon{
    height: 100%;
}
.form{
    width: 100%;
    background-color: #0f172a;
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-radius: 0.4rem;
    padding: 0.3rem;
    gap: 0.3rem;
}
#login,#register{
    background-color: transparent;
    color: #cbd5e1;
    outline: none;
    border-radius: 0.4rem;
    width: 100%;
}
.form:focus-within{
    border: 1px solid #4BC1D0;
    transition: all 0.4s ease;
}
#login-btn,#register-btn{
    border-radius: 0.3rem;
    width: 5rem;
    background-color: #4BC1D0;
    color: #0f172a;
}
#login-btn:hover,#register-btn:hover{
    background-color: #43aab7;
    cursor: pointer;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-top: 3px solid #43aab7;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: none;
}
.show-loader{
    display: inline-block;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 
@media (min-width: 768px) {
    #login-container{
        width: 50%;
    }
    #main-container{
    background-size: 20rem;
    }
    #notification{
        height: 7rem;
        width: 12rem;
    }
}
@media (min-width: 1024px) {
    #login-container{
        width: 30%;
    }
    #main-container{
        background-size: 25rem;
    }
}
@media (min-width: 1440px) {
    #main-container{
        background-size: 30rem;
    }
}
@media (min-width: 2560px) {
    #login-container{
        width: 20%;
        min-height: 20%;
    }
    #main-container{
        background-size: 40rem;
    }
}

